@{
    ViewBag.Title = "Expense Tracker";
}
<h2 style="color: brown"><b>@ViewBag.Title.</h2> </b>
@*<h3>@ViewBag.Message</h3>*@

<p>Expense tracker is used to track our monthly expenses. By using this we can calculate our monthly expenses and controll our monthly expenses.</p>
