@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Al Wasal R-340<br />
    Flat No:301<br />
    Behind Lulu Hyper Market<br />
    Karama<br />
    <abbr title="Phone">P:</abbr>
    055 3470666
</address>
<address>
    Flat No:201<br />
    Near Lulu Supermarket<br />
    Karama<br />

    <abbr title="Phone">P:</abbr>
    050 78787654
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:renu.binu@evis-uae.com">renu.binu@evis-uae.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:smitha.rajan@evis-uae.com">smitha.rajan@evis-uae.com</a>
</address>