

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        color: navy;
        font-size: 70px;
        align-content: center;
        font-family: 'Monotype Corsiva';
        font-weight: 100;
        text-wrap: normal;
    }

    body {
        background-image: url("/Images/979-h_main-w.png");
        background-repeat: no-repeat;
        background-position: 500px 300px;
        /*background-color: coral;*/
    }
</style>
<h1 style="">TRACK YOUR MONTHLY EXPENSES</h1>


